body {
  font-family: "Roboto", sans-serif;
  background-color: black;    
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.container {
  background-color: #2c2c2c;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 510px;
  height: 300px;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input,
  .input-group button {
    width: 100%;
  }
}


.container h1 {
  color: rgb(248, 248, 255);
  font-size: 50px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 10px;
}

button {
    padding: 10px 10px;
    background-color: #ff6600;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: #ff6600b7;
}

